.body {
  background-color:#000000;
}

.container {
  font-family: 'Inconsolata', monospace;
  text-align: center;
  width: 800px;
  margin: 160px auto;
  display: grid;
  grid-template-columns: 80px 200px 100px;
  grid-template-rows: 50px 50px 50px; 
}

h1 {  
  text-align: center;
  margin: 50px auto;
  font-size: 38px;
  padding:20px;
  width: 300px;
  border-radius: 5px;
  background-color:rgba(255,255,255,0.3);
}

.item {
  grid-column: 1 / 4;
}

input[type="range"] {
  
  width: 200px;
  height: 50px;
  border-radius:50px;
}

.color , .value {
  margin-top:10px;
  padding:5px 10px;
  font-weight: bold;
  border-radius: 5px;
  line-height:50px;
}

.red {
  background-color:#ff0000;
}

.green {
  background-color:#00ff00;
}

.blue {
  background-color:#0000ff;
}